---
extends: airbnb

env:
  browser: true
  mocha: true

rules:
  max-len:
    - 1
  no-bitwise:
    - 1
    - int32Hint: true
  newline-per-chained-call:
    - 1

  jsx-a11y/href-no-hash: off
  jsx-a11y/label-has-for: 1
  import/prefer-default-export:
    - 1
  import/no-extraneous-dependencies:
    - 1
    - devDependencies: true
